/**
 * Arrows
 * --------
 * @component objects
 * @version 1.0.0
 */

.c-arrow {
    $block : &;
    @include rem(padding, 12px);

    &__path {
        transition: fill 0.2s ease-out;
    }

    &--left {
        #{$block}__icon {
            transform: rotate(180deg);
        }
    }

    &--up {
        #{$block}__icon {
            transform: rotate(-90deg);
        }
    }

    &--down {
        #{$block}__icon {
            transform: rotate(90deg);
        }
    }

    &--dark {
        #{$block}__path {
            fill: $nighthawk;
        }

        &:hover,
        &:focus {
            #{$block}__path {
                fill: $templar;
            }
        }
    }

    &--light {
        #{$block}__path {
            fill: $templar;
        }
    }
}