/**
 * Hamburger
 * --------
 * @component objects
 * @version 1.0.0
 */

.c-hamburger {
    cursor: pointer;
    position: relative;
    user-select: none;
    opacity: 0;

    @include mq($from: laptop) {
        display: none;
    }


    &__path {
        fill: $templar;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    }

    &::before {
        content: 'Menu';
        color: $templar;
        @include fontSize(10);
        @include letterSpacing(2);
        text-transform: uppercase;
        line-height: 1;
        position: absolute;
        @include rem(top, 7.5px);
        @include rem(left, -6px);
        transition: transform 0.2s ease-out, opacity 0.1s ease-out;
        opacity: 0;
        transform: scale(0);
        pointer-events: none;
    }

    &:hover,
    &:focus {

        &::before {
            opacity: 1;
            transform: scale(1);
        }

        .c-hamburger {

                &__icon-group {
                    transform: rotate(180deg);
                }

                &__path--top {
                    transform: translateY(-4px);
                }

                &__path--middle {
                    opacity: 0;
                }

                &__path--bottom {
                    transform: translateY(4px);
                }
            }
        }

    &.is-active {
        z-index: 20;

        &::before {
            opacity: 0;
            transform: translateX(-100%);
        }

        .c-hamburger {

            &__path {
                fill: $shogun;
            }

            &__icon-group {
                transform: rotate(180deg);
            }

            &__path--top {
                transform: translateY(-1px) translateX(8px) rotate(45deg);
            }

            &__path--middle {
                opacity: 0;
            }

            &__path--bottom {
                transform: translateY(9px) translateX(-9px) rotate(-45deg);
            }
        }
    }
}