/**
 * Logo
 * --------
 * @component objects
 * @version 1.0.0
 */

.o-logo {
    position: relative;
    display: block;

    &__link {
        display: inline-block;
        width: 100%;
    }

    &__name {
        text-transform: uppercase;
        @include fontSize(18);
        @include rem(letter-spacing, 1px);
    }

    &__asset {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

// Styles
.o-logo {

    &--masthead {
        justify-self: center;
        align-self: center;
        @include rem(width, 360px);
        transition: transform 0.1s ease-out;

        .o-logo {

            &__asset {
                margin: auto;

            }
        }

        .o-svg {

            &__path {
            //    transition: fill 0.3s ease-in-out 0.1s;
            }
        }
    }

    &--light {

        .o-svg {

            &__path {
                fill: $templar;
            }
        }
    }

    &--dark {

        .o-svg {

            &__path {
                fill: $nighthawk;
            }
        }
    }
}

.js-masthead-scrolling {

    .o-logo--masthead.o-logo--light {
        transform: scale(0.75);
        grid-column: 1;
        justify-self: left;

        .o-svg {

            &__path {
                fill: $nighthawk;
            }
        }
    }
}


// Types
.o-logo {

    &--color {

        .o-svg__path {
            fill: $bmas-newblue;
        }
    }
}