/**
 * Social Icons
 * --------
 * @component objects
 * @version 1.0.0
 */

.c-social-links {
    @include fontSize(16);
    user-select: none;
    cursor: pointer;

    &__item {
        display: inline-block;
        @include rem(margin, 0 6px);
    }

    &__link {
        transition: color 0.2s ease;
    }

    &__icon {

        &.fa-twitter {
            &:hover {
                color: $twitter;
            }
        }

        &.fa-instagram {
            &:hover {
                color: $instagram;
            }
        }

        &.fa-facebook {
            &:hover {
                color: $facebook;
            }
        }

        &.fa-googleplus {
            &:hover {
                color: $google-plus;
            }
        }

        &.fa-linkedin {
            &:hover {
                color: $linkedin;
            }
        }

        &.fa-vimeo-v {
            &:hover {
                color: $vimeo;
            }
        }
    }
}
