/**
 * Social Share
 * --------
 * @component objects
 * @version 1.0.0
 */

.c-social {
    $parent : &;

    &--follow {
        display: flex;
        user-select: none;

        #{$parent}__item {
            @include fontSize(20);
        }

        #{$parent}__link {
            position: relative;
            color: $templar;
            @include rem(padding, 12px);

            .svg-inline--fa {
                transition: color 0.2s ease;
            }

            &:hover,
            &:focus {

                .fa-twitter {
                    color: $twitter;
                }

                .fa-pinterest {
                    color: $pinterest;
                }

                .fa-facebook-f {
                    color: $facebook;
                }

                .fa-instagram {
                    color: $instagram;
                }
            }

            &:active {
                &::before {
                    background-color: darken($templar, 2%);
                }
            }
        }
    }
}