/**
 * Social Share
 * --------
 * @component objects
 * @version 1.0.0
 */

.c-social {
    $parent : &;
    position: relative;

    &--share {
        display: flex;
        user-select: none;
        justify-content: center;

        #{$parent}__item {
            @include fontSize(16);
            @include rem(min-height, 38px);
            border: {
                top: 1px solid;
                bottom: 1px solid;
                right: 1px solid;
            }

            &:first-of-type {
                border-left: 1px solid;
            }
        }

        #{$parent}__link {
            position: relative;
            overflow: hidden;
            @include rem(width, 36px);
            @include rem(height, 36px);
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transform: translateY(100%);
                transition: transform 0.2s ease-out, color 0.2s ease;
            }

            .svg-inline--fa {
                transition: color 0.2s ease;
            }

            &:hover,
            &:focus {
                &::before {
                    transform: translateY(0) scale(1.6);
                }

                .fa-twitter {
                    color: $twitter;
                }

                .fa-pinterest {
                    color: $pinterest;
                }

                .fa-facebook-f {
                    color: $facebook;
                }

                .fa-whatsapp {
                    color: $whatsapp;
                }

                .fa-envelope {
                    color: $samurai;
                }
            }
        }
    }

    &--light {

        #{$parent}__item {
            border-color: $templar;

            &:first-of-type {
                border-color: $templar;
            }
        }

        #{$parent}__link {
            color: $templar;

            &::before {
                background-color: $templar;
            }

            &:active {
                &::before {
                    background-color: darken($templar, 2%);
                }
            }
        }
    }


    &--dark {

        #{$parent}__item {
            border-color: $nighthawk;

            &:first-of-type {
                border-color: $nighthawk;
            }
        }

        #{$parent}__link {
            color: $nighthawk;

            &::before {
                background-color: $nighthawk;
            }

            &:hover,
            &:focus {

                .fa-envelope {
                    color: $templar;
                }
            }

            &:active {
                &::before {
                    background-color: darken($nighthawk, 2%);
                }
            }
        }
    }

    &--dark-wide {

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $nighthawk;
            top: 50%;
        }

        #{$parent}__item {
            border-color: $nighthawk;
            background-color: $templar;
            z-index: 1;

            &:first-of-type {
                border-color: $nighthawk;
            }
        }

        #{$parent}__link {
            color: $nighthawk;

            &::before {
                background-color: $nighthawk;
            }

            &:hover,
            &:focus {

                .fa-envelope {
                    color: $templar;
                }
            }

            &:active {
                &::before {
                    background-color: darken($nighthawk, 2%);
                }
            }
        }
    }
}