/**
 * Buttons
 * ------
 * @component partials
 * @version 1.0.0
 */

.o-btn {
    width: auto;
    @include rem(min-height, 12px);
    color: inherit;
    text-align: center;
    line-height: 1;
    @include user-select;
    -webkit-appearance: none;
    transition: color .1s ease,
                background-color .1s ease,
                box-shadow .1s ease-out,
                transform .1s ease-out,
                background .1s ease;

    &.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.45;
    }
}
