/**
 * Forms
 * ------
 * @component partials
 * @version 1.0.0
 */

/**
 * Form Normalize
 * ------
 * @version 1.0.0
 */
fieldset,
form {
    display: block;

    .c-form-group {
        display: block;
    }
}

fieldset {

    &:only-child {
       margin-bottom: 0;
    }

    &[disabled],
    &[disabled] * {
        cursor: not-allowed;
        opacity: 0.6;
        background-color: #F9F9F9;
    }

    & legend,
    &[disabled] legend {
        background-color: transparent;
    }
}

/**
 * Inputs
 * ------
 * @version 1.0.0
 */
input,
select,
textarea {
    font-family: inherit;
    display: block;
    position: relative;
    max-width: 100%;
    border: none;
    outline: none;

    &[disabled],
    &[readonly] {
        cursor: not-allowed;
    }

    &[readonly] {
        cursor: auto;
    }
}

/**
 * Remove Chrome Yellow Auto complete
 * ------
 * @version 1.0.0
 */
input:-webkit-autofill,
input:-webkit-autofill:focus  {
    -webkit-box-shadow: 0 0 0 50px $color-base--invert inset;
    -webkit-text-fill-color: $color-base;
}

/**
 * Text Area
 * ------
 * @version 1.0.0
 */
textarea {
    height: auto;
    max-width: 100%;
    resize: vertical;
    @include rem(min-height, 100px);
}

/**
 * File Uploads
 * ------
 * @version 1.0.0
 */
::-webkit-file-upload-button {
    border: none;
    outline: none;
}

input[type="file"] {
    padding: 0;
}

/**
 * Range Input
 * ------
 * @version 1.0.0
 */
input[type="range"] {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

/**
 * Selects
 * ------
 * @version 1.0.0
 */
select {
    @include rem(padding-right, 34px);

    &[multiple],
    &[size] {
        background: none;
        padding: 0;
        height: auto;

        & option {
            @include rem(padding, 5px 10px);
        }
    }

    &::-ms-expand {
        display: none;
    }
}

/**
 * Inline Lists
 * ------
 * @version 1.0.0
 */
input[type="checkbox"],
input[type="radio"] {
    display: inline;
    vertical-align: sub;

    & + label {
        display: inline;
        @include rem(margin, 0 5px 0 2px);
    }
}
