/**
 * Global
 * ------
 * @component partials
 * @version 1.0.0
 */

/**
 * Set desired Box Model on all elements
 * --------
 * @version 1.0.0
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Prepare the Page
 * --------
 * @version 1.0.0
 */
html {
    width: 100%;
    height: 100%;
    height: 100vh;
    @include font($font--sans-serif);
    font-size: $font-size--base;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/**
 * Set the base structure and font rules
 * --------
 * @version 1.0.0
 */
body {
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    color: $color-base;
    @include fontSize(12);
    line-height: 1.2;
    @include font($font--base);
    background-color: $color-base--invert;
    text-rendering: optimizeLegibility;
    cursor: auto;
}

/**
 * Override Default Scroll bars
 * --------
 * @version 1.0.0
 */
::-webkit-scrollbar {
    @include rem(width, 8px);  // vertical scrollbars
    @include rem(height, 8px); // horizontal scrollbars
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

/**
 * BMAS Logo
 * --------
 * @version 1.0.0
 */
.bmas {
    transition: fill 0.5s ease;

    &:hover,
    &:focus {
        fill: $bmas-blue;
        color: $bmas-blue;
    }
}

/**
 * Wordpress Adminbar
 * ---------
 * @version 1.0
 */
body.admin-bar {
    top: 32px;
    min-height: calc(100% - 32px);
    min-height: calc(100vh - 32px);

    @media screen and (max-width: 782px) {
        top: 46px;
        min-height: calc(100% - 46px);
        min-height: calc(100vh - 46px);

        #wpadminbar {
            position: fixed;
        }
    }
}