/***
 * Lists
 * ------
 * @component partials
 * @version 1.0.0
 */

ul,
ol,
dl {
    list-style-position: outside;
    font-family: inherit;
}

/**
 * Un-ordered Lists
 * --------
 * @version 1.0.0
 */
 ul {
    list-style-type: none;
    margin-left: 0;

    // If there is no class add disc and margin
    &:not([class]) {
        list-style-type: disc;
        @include rem(margin-left, 12px);
    }

    // Unordered Lists
    & ul:not([class]) {
        list-style: square;

        & ul:not([class]) {
            list-style: circle;
        }
    }

    // Mixed List Reset Style
    & ol ul:not([class]) {
        list-style: disc;
    }
}

/**
 * Ordered Lists
 * --------
 * @version 1.0.0
 */
ol {
    list-style-type: decimal;

    & ol {
        list-style: lower-latin;

        & ol {
            list-style: lower-roman;
        }
    }
    // Mixed List Reset Style
    & ul ol {
        list-style: decimal;
    }
}

/**
 * Definition Lists
 * --------
 * @version 1.0.0
 */
dl {

    & dt {
        font-weight: $font--bold;
    }

    @include mq($from: tablet) {
        &%is-horizontal {

            & dt {
                float: left;
                @include rem(width, 140px);
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & dd {
                @include rem(margin-left, 160px);
            }
        }
    }
}
