/**
 * Loaders
 * ------
 * @component partials
 * @version 1.0.0
 */

.c-loader {

    &__bg {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $color-base--invert;
        z-index: 999;
    }

    &__loader {
        @include fontSize(48);
    }

    /**
     * Spinning Loader
     * ------
     * @version 1.0.0
     */
    &__spinner {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: relative;
            display: block;
        }

        @at-root {
            @keyframes spinner {
                50% {
                    border-radius: 50%;
                    transform: scale(0.5) rotate(360deg);
                }
                100% {
                    transform: scale(1) rotate(720deg);
                }
            }

            @keyframes shadow {
                50% {
                    transform: scale(0.5);
                    background-color: transparentize($color-base, 0.1);
                }
            }
        }

        &::before {
            animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
            @include rem(width, 12px);
            @include rem(height, 12px);
            background-color: $color-base;
        }
        &::after {
            animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
            @include rem(height, -6px);
            @include rem(height, 3px);
            border-radius: 50%;
            background-color: transparentize($color-base, 0.9);
        }
    }
}
