/**
 * Tables
 * ------
 * @component partials
 * @version 1.0.0
 */

table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: auto;
}

table caption {
    background: transparent;
}

table tbody tr th {
    font-weight: $font--bold;
}

table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
    @include rem(padding, 5px 6px 6px);
    font-weight: $font--bold;
}

table tr th,
table tr td {
    @include rem(padding, 5px 6px);
    text-align: left;
}

table tr.t-even,
table tr.t-alt,
table.t-striped tr:nth-of-type(even) {
    background: #f9f9f9;
}

table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
    display: table-cell;
}

/**
 * Responsive Tables
 * --------
 * @version 1.0.0
 */
.is-table-responsive {
    min-height: .01%;
    overflow-x: auto;

    @include mq($until: tablet) {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid $color-base;

        & table {
            border: none
        }

        &>table {
            margin-bottom: 0
        }

        &>table>tbody>tr>td,
        &>table>tbody>tr>th,
        &>table>thead>tr>td,
        &>table>thead>tr>th,
        &>table>tfoot>tr>td,
        &>table>tfoot>tr>th {
            white-space: nowrap
        }
    }
}
