/**
 * Foundation
 * --------
 * @component foundation
 * @version 1.0.0
 */

 .o-foundation {
    grid-column: $g-wrapper--full;
    background-color: $mist;
    position: relative;
    backface-visibility: hidden;

    &__inner {
        @include rem(padding-bottom, 96px);
    }

    &__items {
        grid-column: $g-wrapper--inner;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}