/**
 * Masthead
 * --------
 * @component masthead
 * @version 1.0.0
 */

.o-masthead {
    position: relative;

    &--prime {
        grid-column: $g-wrapper--full;
        @include rem(padding, 48px);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
        transition: background-color 0.1s ease-out, padding 0.3s ease-out 0.1s;
        transform-origin:top;
        display: grid;
        grid-template-columns: repeat(3, [col] 1fr);
        backface-visibility: hidden;
        will-change: padding;
    }
}

.o-masthead--prime.js-masthead-scrolling {
    background-color: $templar;
    @include rem(padding, 0px 48px);
    box-shadow: 0px 3px 2px -3px rgba(0, 0, 0, 0.1);
}

//Menu Load Animation
.o-masthead--prime {
    opacity: 0;
    transform: translateY(-60%);
    animation: SlideDown 0.8s ease-in 0.6s;
    animation-fill-mode: forwards;

    @at-root {

        @keyframes SlideDown {
            0% {
                transform: translateY(-60%);
            }
            80% {
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}