/**
 * Global Configurations
 * --------
 * Set the global variables and overides
 * --------
 * @component lydia-scss
 * @version 2.0.0
 */

/**
 * Versions
 * --------
 * @version 1.0.0
 */
$lydia-version : 3.5;

/**
 * Font Size
 * --------
 * @version 1.0.0
 */
$font-size--base   : 75%;
$rem-base          : 12;

/**
 * PX to Rem
 * --------
 * @version 1.0.0
 */
$rem-baseline: 12px;
$rem-fallback: true;

/**
 * Webfonts
 * --------
 * @version 1.0.0
 */
$font--opensans: 'Open Sans', sans-serif;
$font-opensans--book  : 400;

/**
 * Font Family Allocations
 * --------
 * @version 1.0.0
 */
$font--base : Helvetica, Arial, sans-serif;
$font--h1   : $font--base;
$font--h2   : $font--base;
$font--h3   : $font--base;
$font--h4   : $font--base;
$font--h5   : $font--base;
$font--h6   : $font--base;
$font--para : $font--base;

$font-w--h1   : 400;
$font-w--h2   : 400;
$font-w--h3   : 400;
$font-w--h4   : 400;
$font-w--h5   : 400;
$font-w--h6   : 400;
$font-w--para : 400;

/**
 * Font Paths
 * --------
 * @version 1.0.0
 */
$font-path: "./fonts/" !default;

/**
 * Wrappers
 * --------
 * @version 1.0.0
 */
$g-wrapper--full    : 1/span 14;
$g-wrapper--main    : 1800px;
$g-wrapper--outer   : 2200px;
$g-wrapper--inner   : 3/span 10;
$g-wrapper--single  : 900px;
$g-wrapper--reading : 664px;

/**
 * Breakpoints
 * --------
 * +1 is to accomodate the hard exclude for $until, and not mobile first
 * --------
 * @version 1.0.0
 */
$mq-breakpoints: (
    mobile  : 324px + 1px,
    phablet : 480px + 1px,
    tablet  : 768px + 1px,
    netbook : 1024px + 1px,
    laptop  : 1280px + 1px,
    desktop : 1884px + 1px
);
$mq-media-type : screen;

/**
 * Colours
 * --------
 * @version 1.0.0
 * --------
 * @include nighthawk: #000
 * @include mist: #eee
 */
$nighthawk : #000;
$templar   : #fff;
$shogun    : #222;
$samurai   : #111;
$rebar     : #777;
$mist      : #eee;
$fog       : #fafafa;

/**
 * Base Colours
 * --------
 * These overide those set in the /core/ lydia
 * --------
 * @version 1.0.0
 */
$color-base         : $shogun;
$color-base--invert : $templar;
$color-accent       : lighten($color-base, 40%);
