/**
 * Colours
 * ------
 * @component modules
 * @version 1.0.0
 */

/**
 * Base Colours
 * ------
 * @version 1.0.0
 */
 $color-base         : #444 !default;
 $color-base--invert : #fff !default;
 $color-accent       : lighten($color-base, 40%) !default;

 /**
  * BMAS Brand
  * ------
  * @version 1.0.0
  */
 $bmas-blue     : #0f8bcc !default;
 $bmas-newblue  : #48c0ed !default;
 $bmas-darkgrey : #848484 !default;
 $bmas-lightgrey: #e6e6e6 !default;
 $bmas-white    : #ffffff !default;
 $bmas-black    : #0a0a0a !default;
 $bmas-green    : #43db2a !default;
 $bmas-gold     : #d5b783 !default;
 $bmas-text     : #202020 !default;

 /**
  * Social
  * ------
  * @version 1.0.0
  */
 $facebook    : #3b5998;
 $twitter     : #00aced;
 $instagram   : #8a3ab9;
 $linkedin    : #007bb5;
 $google-plus : #dd4b39;
 $youtube     : #bb0000;
 $pinterest   : #e60023;
 $vimeo       : #1ab7ea;
 $whatsapp    : #25d366;

 /**
  * Alerts
  * ------
  * @version 1.0.0
  */
 $alert--success: #28a745;
 $alert--warning: #ffc107;
 $alert--danger:  #dc3545;