/**
 * Helpers
 * ------
 * @component modules
 * @version 1.0.0
 */

/**
 * Remove unit
 * ------
 * @param {Number} $number - Number to remove unit from
 * @return {Number} - Unitless number
 * ------
 * @version 1.0.0
*/
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

/**
 * User Selection
 * ------
 * @version 1.0.0
 */
@mixin user-select {
    user-select: none;
    cursor: pointer;
}

/**
 * Truncate Text
 * ------
 * @version 1.0.0
 */
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Opacity
 * ------
 * @version 1.0.0
 */
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
