/**
 * Inputs
 * ------
 * @component modules
 * @version 1.0.0
 */

/**
 * Assign Inputs
 * ------
 * @version 1.0.0
 */
@function assign-inputs($inputs, $pseudo: null) {
    $list: ();
    @each $input in $inputs {
        $input: unquote($input);
        $input: if($pseudo, $input + ":" + $pseudo, $input);
        $list: append($list, $input, comma);
    }
    @return $list;
}

/**
 * List of Input Variables
 * ------
 * Generates variables for all text-based inputs.
 * Please note that you must use interpolation on the variable`.
 * ------
 * @version 1.0.0
 */
$text-inputs-list: 'input[type="color"]',
    'input[type="date"]',
    'input[type="datetime"]',
    'input[type="datetime-local"]',
    'input[type="email"]',
    'input[type="month"]',
    'input[type="number"]',
    'input[type="password"]',
    'input[type="search"]',
    'input[type="tel"]',
    'input[type="text"]',
    'input[type="time"]',
    'input[type="url"]',
    'input[type="week"]',
    'textarea';

$all-text-inputs        : assign-inputs($text-inputs-list);
$all-text-inputs-active : assign-inputs($text-inputs-list, active);
$all-text-inputs-focus  : assign-inputs($text-inputs-list, focus);
$all-text-inputs-hover  : assign-inputs($text-inputs-list, hover);

// Variables for Rest of Inputs
$non-text-inputs-list: 'input[type="range"]',
    'input[type="submit"]',
    'input[type="file"]',
    'select';

$all-non-text-inputs        : assign-inputs($non-text-inputs-list);
$all-non-text-inputs-active : assign-inputs($non-text-inputs-list, active);
$all-non-text-inputs-focus  : assign-inputs($non-text-inputs-list, focus);
$all-non-text-inputs-hover  : assign-inputs($non-text-inputs-list, hover);
