/**
 * Floats
 * ------
 * @component modules
 * @version 1.0.0
 */

/**
 * Clearfix
 * --------
 * @version 1.0.0
 */
@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
