/**
 * Vendor
 * --------
 * @component app
 * @version 1.0.0
 */

/**
 * Swiper
 * ---------
 * @version 1
*/
// $themeColor : $templar;
$themeColor : $templar;
$colors: ('white': $templar, 'black': $nighthawk);
@import './node_modules/swiper/src/swiper.scss';
@import './node_modules/swiper/src/components/pagination/pagination';
@import './node_modules/swiper/src/components/effect-fade/effect-fade';