/**
 * Layout
 * --------
 * @component base
 * @version 1.0.0
 */

.l-layout {

    &--grid {
        display: grid;
        grid-template-columns: repeat(14, [col] 1fr);
        grid-template-rows: auto;
        width: 100%;
        max-width: 100%;
        position: relative;
    }

    &--body {
        min-height: inherit;
    }

    &__sticky {
        min-height: calc(100vh - 36px);
        @include rem(padding-top, 80px);
    }
}
