/**
 * View
 * --------
 * @component base
 * @version 1.0.0
 */

 .o-view {
    position: relative;

    &--page {
        display: grid;
        grid-column: $g-wrapper--full;
        grid-template-columns: repeat(14, [col] 1fr);
    }
 }
