/**
 * Contact Form
 * --------
 * @component forms
 * @version 1.0.0
 */

.c-contact-form {

    &__input,
    textarea {
        width: 100%;
        @include fontSize(16);
        border: 1px solid $mist;
        @include rem(padding, 18px  20px);
        @include rem(margin-bottom, 14px);
        transition: border-color 0.2s ease;

        &:hover {
            border-color: darken($mist, 5%);
        }

        &:focus {
            border-color: $mist;
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
            border-color: $alert--danger;
            background-color: transparentize($alert--danger, 0.8);
        }
    }

    &__message {
        @include rem(margin-bottom, 12px);
    }

    &__submit {

        &:hover,
        &:focus {

            .c-contact-form__submit-icon {
                transform: translateX(4px)
            }
        }
    }

    &__submit-icon {
        @include fontSize(10);
        @include rem(margin-left, 10px);
        vertical-align: baseline;
        transition: transform 0.2s ease-out;
    }
}