/**
 * Post Tease
 * --------
 * @component components/post
 * @version 1.0.0
 */

.c-post-tease {
    width: 100%;
    user-select: none;
    position: relative;

    &__feat {
        display: block;
        width: inherit;
    }
}